<% provide(:title, "About") %>
<%= render 'layouts/navbar' %>
 
<div class="landing"> 
	<div class="hero-landing" id="heroLanding2"> 
		<div class="" id="heroContent2">
			<div class="container">
	        <div class="row">
	          <div class="col-sm-12 col-xs-12">
	      			<h1 class="hero-title about">Spark a life-long adventure</h1>
	      				<h3 class="hero-description"></h3>
	      			</h1>
	          </div>
	        </div>
		</div>
      </div>   
    </div> 
</div>
  <section class="black-bg" id="content">   
      <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="quote lightblue">"Whether we're fighting climate change or going to space, everything is moved forward by computers, and we don't have enough people who can code. Teaching young people to code early on can help build skills and confidence and energize the classroom with learning-by-doing opportunities." <br> -- <i>Richard Branson</i></h4>
				<!-- , <i>Founder</i>, Virgin Group</span> -->
			</div>
		</div>
      </div>      
  </section>
  
<!-- 	<header id="ha-header" class="ha-header">
      <h3><a class="pulse" href="tel:+18444772753"><span>Let's Chat! &nbsp;</span> <span class="red"> 1-(844)-4-SPARK-3</span></a></h3>
    </header> -->


	<div class="">
		<div class="container">
			<div class="row">
					<div class="section-header col-sm-6 col-sm-offset-3">				
						<hr>
						<h1>Our Model</h1>
						<h4></h4>
						<hr>
					</div>
			</div>
		</div>
	</div>

<section class="lightgrey-bg about">
	<div class="container">
			<div class="row">
		        <div class="col-sm-12">
		        	<hr>
		          <h1><span class="blue">Sparked</span> brings together:</h1>
		        </div>       
     		 </div>
      <div class="row combo">   			
      	<div class="col-sm-6"> 
		    		<h3 class="green">Teachers</h3>
            <%= image_tag "david2.jpg",:class=>'headshots img-responsive'%> 		    		
              <p>Not everyone has the ability to shape young minds, so our OCT-teachers and tutors are hand-picked for their breadth of experience as inclusive, equitable leaders. Ranging from Grade 4 Science Teachers to High School English teachers, Sparked is powered by innovative professionals who are passionate about the merging of literacy and technology. More needs to be done to equip our children with life-skills and learning-habits for an unpredictable future, and Sparked teachers know how to foster independent, caring, resilient creators.</p>         
		    </div>
        <div class="col-sm-6">              
					<h3 class="blue">Web Developers</h3>
            <%= image_tag "brian.jpg",:class=>'headshots img-responsive'%>
              <p>Our Developers are not just players on the global stage, they are generous, caring, and helpful leaders. They literally get giddy when helping someone check-out the right Git Branch or finding a more "elegant" and DRY (Do Not Repeat Yourself!) version of your code. Poets much? And Sparked's community of Web Developers is growing on the principle that there's so much heart- and brain-power out there that simply wants to help. When looking for developers to tutor and run workshops, it matters less about which prestigious University program you attended than how well you create and help others create.</p> 
       	</div>
      </div>      
    </div>
</section>	


<!-- 	<div class="">
		<div class="container">
			<div class="row">
					<div class="section-header col-sm-6 col-sm-offset-3">				
						<hr>
						<h1>How we Foster Young Creators</h1>
						<h4>The Sparked Teaching Model is built upon the professional experience of seasoned teachers. We've identified 4 Essential Skill Blocks for coding that are incorporated into each class.</h4>
						<hr>
					</div>
			</div>
		</div>
	</div> -->

<!-- 						<div class="section-header col-sm-4 grey-transparent skills-head">	
							<div class="">
								<h1>Learning Skills</h1>
								<h3>Each course is designed with 4 strands of skill-development.</h3>								
							</div>							
						</div>	 -->

	<!-- <section class="adventure2">
		<div class="container">
			<div class="row">			


					<div class="col-sm-8 col-sm-offset-2 skills">
						<div class="">
							<div class="col-sm-6 green-transparent skills-description">
			                		<%= image_tag "brick.png",:class=>'brick'%>	
								<h3>Problem Solving</h3>
								<p></p>
							</div>		
							<div class="col-sm-6 blue-transparent skills-description">
			                		<%= image_tag "brick.png",:class=>'brick'%>		
								<h3>Collaboration</h3>			
								<p></p>
							</div>
							<div class="col-sm-6 grey-transparent skills-description">
			                		<%= image_tag "brick.png",:class=>'brick right'%>								
								<h3>Inquiry</h3>
								<p></p>							
							</div>				
							<div class="col-sm-6 yellow-transparent skills-description">
			                		<%= image_tag "brick.png",:class=>'brick right'%>								
								<h3>Communication</h3>			
								<p></p>
							</div>			
						</div>
					</div>
			</div>
		</div>
	</section> -->



	<div class="lightblue-bg">
		<div class="container">
			<div class="row">
					<div class="section-header col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">				
						<hr>
						<h1>Our Homes</h1>
						<h4>Sparked homes share a lot in common. They are innovative, community-oriented and dynamic. They reflect crucial changes in the mode and experience of education -- a revolution that Sparked is proud to be a part of.</h4>
						<hr>
					</div>
			</div>
		</div>
			<svg id="clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M-5 100 Q 0 20 5 100 Z
						 M0 100 Q 5 0 10 100
						 M5 100 Q 10 30 15 100
						 M10 100 Q 15 10 20 100
						 M15 100 Q 20 30 25 100
						 M20 100 Q 25 -10 30 100
						 M25 100 Q 30 10 35 100
						 M30 100 Q 35 30 40 100
						 M35 100 Q 40 10 45 100
						 M40 100 Q 45 50 50 100
						 M45 100 Q 50 20 55 100
						 M50 100 Q 55 40 60 100
						 M55 100 Q 60 60 65 100
						 M60 100 Q 65 50 70 100
						 M65 100 Q 70 20 75 100
						 M70 100 Q 75 45 80 100
						 M75 100 Q 80 30 85 100
						 M80 100 Q 85 20 90 100
						 M85 100 Q 90 50 95 100
						 M90 100 Q 95 25 100 100
						 M95 100 Q 100 15 105 100 Z">
				</path>
			</svg>
	
	</div>

	
	<div class="home lightgrey-bg brampton">
		<div class="container">
				<div class="row">
		            <div class="col-sm-6 section-header">
		            	<div class="row">
				               	<h2>Brampton</h2>	
				               	<hr class="style-one">
							<div class="col-xs-6 col-sm-12 col-md-6">
					                <%= image_tag "lab-b.png",:class=>'home-logo lab-b'%>

					        </div>
					        <div class="col-xs-6 col-sm-12 col-md-6 home-address">
				               	<h3>Lab-B</h3>
				               	<h4>60 Queen St E</h4>
				            </div>
				        </div>
		               	<hr class="style-one"></hr>
				        <p class="copy">LAB-B is a community peopled by creatives in tech, media, and art. Located in Downtown Brampton, right across from Rose Theatre and Brampton Public Library, Lab-B is a beacon for Peel's creative economy. Your child's learning experience is deeply enriched by being a part of Lab-B's Startup culture.</p>
				    </div>
					<div class="section-header col-sm-5 col-sm-offset-1">
						<iframe class="img-responsive map" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=60%20Queen%20St%20E%20-%20Unit%20104%20brampton&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>		
					</div>		
				</div>			
			</div>
		</div>
	</div>


	<section class="skyline green-bg">
		<div class="container">		
			<div class="home green-bg">	
			    <div class="row">
		            <div class="col-sm-6 section-header"> 
		            	<div class="row">
				               	<h2>Toronto</h2>    
				               	<hr> 
							<div class="col-xs-6 col-sm-12 col-md-6">
			                	<%= image_tag "icewire.png",:class=>'home-logo'%>
					        </div>
					        <div class="col-xs-6 col-sm-12 col-md-6 home-address">		
					        	<h3>Icewire Makerspace</h3>
		               			<h4>1560 Bayview Ave</h4>			        	
				            </div>
				        </div>
		               	<hr>
				        <p class="copy">The term "makerspace" is new and evolving, since every makerspace is unique. For Icewire, it means a place that unlocks potential by providing an optimal environment for creation. At the Icewire Makerspace, you’ll find electronics (hardware and software), robotics, 3D printing and, now, Web Developers. This is an amazing space for Sparked Creators to begin using code to solve real-world problems.</p>
				    </div>
					<div class="section-header col-sm-5 col-sm-offset-1">
						<iframe class="img-responsive map" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1560%20Bayview%20Avenue%2C%20Toronto%2C%20ON%2C%20Canada&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>	
					</div>			    	
			    </div>   
			</div>
		</div>
	</section>

	<div class="wp2">
	</div>

<!-- 	<section class="green-bg"> -->
			<svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 Q 2.5 40 5 0 
						 Q 7.5 40 10 0
						 Q 12.5 40 15 0
						 Q 17.5 40 20 0
						 Q 22.5 40 25 0
						 Q 27.5 40 30 0
						 Q 32.5 40 35 0
						 Q 37.5 40 40 0
						 Q 42.5 40 45 0
						 Q 47.5 40 50 0 
						 Q 52.5 40 55 0
						 Q 57.5 40 60 0
						 Q 62.5 40 65 0
						 Q 67.5 40 70 0
						 Q 72.5 40 75 0
						 Q 77.5 40 80 0
						 Q 82.5 40 85 0
						 Q 87.5 40 90 0
						 Q 92.5 40 95 0
						 Q 97.5 40 100 0 Z">
				</path>
			</svg>   
			<div class="water-bg">	  			
				<div class="container">
					<div class="row mississauga">	
			            <div class="col-sm-6 section-header"> 
			            	<div class="row">
					               	<h2>Mississauga</h2>	<hr>
								<div class="col-xs-6 col-sm-12 col-md-6">
					                <%= image_tag "studio89.png",:class=>'home-logo studio89'%>
						        </div>
						        <div class="col-xs-6 col-sm-12 col-md-6 home-address">	
					               	<h3>Studio.89 Artademic Centre</h3> 
					               	<h4>1065 Canadian Place</h4>		        	
					            </div>                   
				        	</div>
			               	<hr>
					        <p class="copy">Studio.89 is a not-for-profit community space that does all sorts of awesome by providing fair-trade, organic, bird-friendly and rainforest certified coffee, and other ethical treats and products. Why would this be an ideal space for Sparked? While you are enjoying your Wednesday evening, your child is expanding their mind at the Studio.89 Artademic Center. "Artademic", you say? The space reflects the aim of Web Development: to combine Art and Science in a meaningful way.</p>
					    </div>
						<div class="section-header col-sm-5 col-sm-offset-1">
							<iframe class="img-responsive map" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1065%20Canadian%20Place%20%23104%2C%20Mississauga%2C%20ON%20L4W%200B8&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>		
						</div>						 
				</div>
		</div>
<!-- 	</section> -->

	<div class="wp3">
	</div>

<!-- 
<section class="skyline">
	<div class="container">
	    <div class="row team green-bg">
	        <div class="small-12 medium-6 large-4 columns"> 
	           <div class="	">
	          <h3>Brian Meli</i></h3>
	          <h4><i>Curriculum Designer</i></h4>        
	           <p>If you are lucky enough to have Brian Meli as a friend, coworker, or teacher, you know that a soul like his is hard to find. A brilliant elementary teacher in Toronto, Brian is renowned for creating inclusive, uplifting, and enduring communities. He is also currently in the home-stretch of his Masters in Education at OISE, where he is practicing discovery-based learning strategies. Brian crafts entire units and courses that don't feel like school or Ontario Curriculum because of how fun they are -- and that's why he's drawn to the power of coding.</p>
	          </div>                            
	        </div>                     
	    </div>  

	</div> 
</section> -->


