<%= render 'layouts/navbar' %>
<% provide(:title, "Code x Creation") %> 

<header class="landing">	
	<video autoplay="true" poster="" muted="true">
					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.webm" type="video/webm">		
					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.mp4" type="video/mp4">	 
	</video>					
		
		<div class="overlay" id="hero-overlay"> 
		  <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
      			<h1 class="hero-title">We are 					
      				<span class="word-swap"></span>
      				<br>

      				<!-- <ul class="offerings"> 
      					<a href="#courses"><li>Courses</li></a>
      					<a href="#courses"><li>Events</li></a>
      					<a href="#courses"><li>Resources</li></a>
      				</ul> -->

      				<h3 class="hero-description">Coding education for youth in the GTA.</h3>
      			</h1>
          </div>
        </div>
			</div>

		</div>

</header>

    <section>
      <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
        <%= image_tag "scroll-down.svg", class: "floating" %> 

      </a>
    </section>
  <div class="content" id="content">
  </div>

<div class="section-header">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        <h2></h2>
        <hr>
          <h4>Our mission is to spread literacy in the most important language of our generation: Code. A blend of Industry Professionals and OCT-Trained teachers enables us to bring life-changing education to youth in the GTA. We believe that <strong>everyone</strong> has the ability to learn to code -- and to have fun doing it. <!-- <a href="/about"> More About Us</a> --></h4>
        <hr>
      </div>
    </div>  
  </div>
</div>

<section class="course-list" id="courses">
      <div class="container">
        <div class="row quickcourses clearfix">
            <div class="row">
              <div class="col-sm-12 responsive">
                <h1><span class="blue">Sparked</span><span class="green underline">Creator</span><span class="grey">Programs</span></h1>
              </div>
            </div>


            <div class="col-sm-4 col-md-4 col-lg-4">
              <a href="/junior">            
              <div class="courseborder">
                 <!-- <span class="label label-warning">Limited Spots</span> -->
                  <hr>                      
                    <div class="badge_shell">  
                      <%= image_tag "blue-badge.png",:class=>'press_badge'%>
                    </div>
                    <h4 class="social_sub_heading"></h4>
                        <div class="topics">
                          <br>
                           <p>Junior Creators have no previous experience coding, and want to learn to build beautiful and functional websites that scale across all devices.</p>
                           <br>
                        </div>   
                 <hr>
                    <div class="next_class">
                      <h3 class="black extra">Next &nbsp;<span class="blue">Junior Creator</span>&nbsp;Course:</h3>  
                    </div>
                      <hr>        
                   <h4>Intro to Web Development</h4>
                <h4>March 24, 2015</h4>  
              </div>
              </a>            
            </div>  

            <div class="col-sm-4 col-md-4 col-lg-4">
              <a href="/intermediate">
              <div class="courseborder">
                    <!-- <span class="label label-warning">Limited Seats</span> -->
                    <hr>
                      <div class="badge_shell">  
                        <%= image_tag "green-badge.png",:class=>'press_badge'%>
                      </div>
                        <h4 class="social_sub_heading"></h4>
                        <div class="topics">
                           <br>
                           <p>Intermediate Creators have deep experience with HTML &amp; CSS, and want to craft powerful User Experiences. ICs expand functionality of sites by building with programming languages.</p>
                        </div>   
                 <hr>
                    <div class="next_class">
                      <h3 class="black">Next &nbsp;<span class="green">Intermediate Creator</span>&nbsp;Course:</h3>      
                    </div>
                  <hr>                     
                   <h4>UX/ UI + JavaScript</h4>
                <h4>July 5, 2015</h4>                 
             </div>
            </a>
          </div> 

          <div class="col-sm-4 col-md-4 col-lg-4 ">
            <a href="/senior">            
              <div class="courseborder">
                  <hr>                  
                  <!-- <span class="label label-warning">Introducing: Swift!</span> -->
                      <div class="badge_shell">  
                        <%= image_tag "grey-badge.png",:class=>'press_badge'%>
                      </div>
                       <h4 class="social_sub_heading"></h4>
                        <div class="topics">
                           <br>
                           <p>Senior Creators want to make advanced applications for web and mobile devices. They want to learn how to take their ideas to the next level by building services and tools that make a difference.</p>
                        </div>   
                 <hr>
                <div class="next_class">
                  <h3 class="black extra">Next &nbsp;<span class="grey">Senior Creator</span>&nbsp;Course:</h3>  
                </div>
                  <hr>        
                   <h4>Android App Development</h4>
                <h4>September 7, 2015</h4>        
              </div>
              </a>
            </div> 

      </div>
    </div> 
</section>

<section class="exit-music">
   <div class="overlay" id="hero-overlay">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        
        <p><span>Spark Change</span>
        <br>
        <br>Our courses transform youth from passive users to engaged creators. Make the web an outlet for creativity and activism -- who knows where can take you. <br>
        <br> 
        </p>
      </div>
      </div>
  </div>
</div>
</section>








