<% provide(:title, "Jr Creators") %>
<%= render 'layouts/navbar' %>
<header> 
	<div class="course-header header-grey">
		<h1>Junior<br>Creators</h1>
		<h2>Your path to the future.</h2>
            <a data-toggle="modal" data-target="#signup" class="bttn bttn-2 bttn-2e link blue" id="apply">REQUEST INFO</a>
            <a data-toggle="modal" data-target="#signup" class="bttn bttn-2 bttn-2f link blue" id="apply">APPLY</a>		
	</div>
</header>

<div class="overview">
		<div id="overview" class="sp-group">
			<div class="container">
				<div class="row">		
					<div class="col-sm-2 col-sm-offset-1 hidden-xs">
				        <div class="sp-categories" id="secondaryNavbar">
				            <ul class="nav nav-tabs nav-stacked secondNav" id="secondNav">
								<li class="active"><a class="" href="#overview">Overview</a></li>
								<li><a href="#courses">Courses</a></li>
								<li><a href="#curriculum">Curriculum</a></li>
								<li><a href="#classroom">Classroom</a></li>
								<li><a href="#instructors">Instructors</a></li>
								<li><a href="#locations">Locations</a></li>
								<li><a href="#tuition">Tuition</a></li>
								<li><a class="typeform-share link jr-apply" href="https://sparked.typeform.com/to/pmRNz9" data-mode="2" target="_blank"><h4>Apply</h4></a>
            	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></a>
				            </ul>
				        </div>
				    </div>

					<div class="core-skills col-sm-8 col-xs-12">		
						<h1>Junior Creators:</h1>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "puzzle.png", class: "learnicons img-responsive	" %>
							</div>
							<div class="skill-description col-sm-8">
								<h3>Experiment</h3>
								<hr>
								<p>The interaction between people and computers is a continual process of trial and error: of learning by inquiring. Coding, by nature, promotes focus, patience, and curiosity.</p>
							</div>
						</div>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "brickbuild.png", class: "learnicons" %>	
							</div>
							<div class="skill-description col-sm-8">
								<h3>Discover</h3>
								<hr>								
								<p>Coding promotes questioning and necessitates research. It transforms every-day browsing into inquiry. The terrain is fun, dynamic, and always-evolving.</p>
							</div>
						</div>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "map.png", class: "learnicons" %>
							</div>
								<div class="skill-description col-sm-8">
									<h3>Problem Solve</h3>
								<hr>								
									<p>The most exciting aspect of creating with code is learning to solve problems with others. Sparked makes collaborative problem-solving intrinsic to the learning process.</p>
								</div>
						</div>												
			        </div>
			    </div>
			</div>
		</div>
	</div>		


	<div class="program-divider">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">

                <h4 class="grey quote">"Software touches all things you use, and tech companies are revolutionizing all different areas of the world from how we shop to how farming works... these things that aren't technical are being turned upside down by software. So being able to play in that universe really makes a difference." <i>-- Drew Houston </i></h4>
	    		</div>
    		</div>
    	</div>
	</div>

	<div class="img-divider sr">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">
	    		</div>
    		</div>
    	</div>
	</div>	

<section class="classroom-overlay">
   <div class="" id="hero-overlay2">
   		<div class="container">
   			<div class="row">
			   <div class="col-sm-8 col-sm-offset-3">
			   		<div class="classroom-structure">
			   		<h1>Classroom</h1>
			   		<hr class="style-blue">
			   			<div class="row class-point">
			   				<div class="col-sm-1">
		        				<%= image_tag "educator.png",:class=>'overlay-icons'%>
		        			</div>
							<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		   						<h2>7 : 1 Student to Educator Ratio</h2>
		   						<p>Sparked instructors and tutors are invested in your learning.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
			   				<div class="col-sm-1">
		        				<%= image_tag "flipped.png",:class=>'overlay-icons'%>
		        			</div>
							<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		   						<h2>Flipped-Classroom</h2>
		   						<p>Sparked learners discover at home, and problem-solve in class.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
			   				<div class="col-sm-1">
		        				<%= image_tag "screenhero.png",:class=>'overlay-icons'%>
		        			</div>
							<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		   						<h2>HeroTime</h2>
		   						<p>Each student is allotted 5-hours of 1-on-1 tutoring on ScreenHero</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
			   				<div class="col-sm-1">
		        				<%= image_tag "udl.png",:class=>'overlay-icons'%>
		        			</div>
							<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		   						<h2>Universal Design Approach</h2>
		   						<p>Courses are designed like modern-buildings: with a focus on accessibility and attention to individual needs.</p>
		   					</div>				        			
		        		</div>  		        			        			       
		        	</div>		
			   </div>	
		   	</div>
		</div>

</section>

	<div class="learningskills">
		<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
							<ul id="curriculum" class="sp-group">
								<li class="sp-title"><h2>curriculum</h2></li>
								<li>
									<div class="accordion" id="accordion2">
									  <div class="accordion-group">
									    <div class="accordion-heading">
									      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
									        Collapsible Group Item #1
									      </a>
									    </div>
									    <div id="collapseOne" class="accordion-body collapse in">
									      <div class="accordion-inner">
									        Anim pariatur cliche...
									      </div>
									    </div>
									  </div>
									  <div class="accordion-group accordion-caret">
									    <div class="accordion-heading">
									      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
									        Collapsible Group Item #2
									      </a>
									    </div>

									    <div id="collapseTwo" class="accordion-body collapse">
									      <div class="accordion-inner">
									        Anim pariatur cliche...
									      </div>
									    </div>
									  </div>
									</div>
							</ul>
					</div>
				</div>
		</div>
	</div>