<% provide(:title, "Android Creators") %>
<%= render 'layouts/navbar' %>
<section class="landing"> 
	<div class="course-header header-lightgreen">
		<h1 >Android<br> Creators</h1>
        <div class="apply">
			<a class="typeform-share link bttn bttn-2 bttn-2e grey" href="https://sparked.typeform.com/to/CMA9Nh" data-mode="2" target="_blank">Request Info</a>
                  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            <a class="typeform-share link bttn bttn-2 bttn-2f grey" href="https://sparked.typeform.com/to/pmRNz9" data-mode="2" target="_blank">Apply</a>
            	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        </div>
	</div>
</section>


	<div class="overview">
		<div id="overview" class="sp-group">
			<div class="container">
				<div class="row">		
					<div class="col-sm-2 col-sm-offset-1 hidden-xs">
				        <div class="sp-categories" id="secondaryNavbar">
				            <ul class="nav nav-tabs nav-stacked secondNav" id="secondNav">
								<li class="active"><a class="" href="#overview">Overview</a></li>
								<li><a href="#courses">Courses</a></li>
								<li><a href="#classroom">Classroom</a></li>
								<li><a href="#curriculum">Curriculum</a></li>			
								<!-- <li><a href="#tuition">Tuition</a></li>			 -->
								<li><a href="#instructors">Instructors</a></li>
								<li><a href="#faq">FAQs</a></li>	
								<li><a class="typeform-share link mobile-apply" href="https://sparked.typeform.com/to/pmRNz9" data-mode="2" target="_blank"><h4>Apply</h4></a>
            	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></a>
								</li>
				            </ul>
				        </div>
				    </div>

					<div class="core-skills col-sm-8 col-xs-12">		
						<h1>Mobile Creators</h1>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "bulb.png", class: "learnicons img-responsive	" %>
							</div>
							<div class="skill-description mobile col-sm-8">
								<h2>Launch your Idea</h2>
								<!-- <p>The interaction between people and computers is a continual process of trial and error: of learning by inquiring. Coding, by nature, promotes focus, patience, and curiosity.</p> -->
							</div>
						</div>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "testube.png", class: "learnicons" %>	
							</div>
							<div class="skill-description mobile col-sm-8">
								<h2>Advance your Programming Skills</h2>								
								<!-- <p>Coding promotes questioning and necessitates research. It transforms every-day browsing into inquiry. The terrain is fun, dynamic, and always-evolving.</p> -->
							</div>
						</div>
						<div class="core-skill row">
							<div class="col-sm-3">
								<%= image_tag "city.png", class: "learnicons" %>
							</div>
								<div class="skill-description mobile col-sm-8">
									<h2>Build a Portfolio</h2>								
									<!-- <p>The most exciting aspect of creating with code is learning to solve problems with others. Sparked makes collaborative problem-solving intrinsic to the learning process.</p> -->
								</div>
						</div>												
			        </div>
			    </div>
			</div>
		</div>
	</div>		


<!-- 	<header id="ha-header" class="ha-header">
      <h3><a class="pulse" href="tel:+18444772753"><span>Let's Chat! &nbsp;</span> <span class="red"> 1-(844)-4-SPARK-3</span></a></h3>
    </header>
 -->

	<div class="img-divider mobile">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">
	    		</div>
    		</div>
    	</div>
	</div>	

	<div class="program-divider mobile">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">

                <h4 class="green quote">"Software touches all things you use, and tech companies are revolutionizing all different areas of the world from how we shop to how farming works... these things that aren't technical are being turned upside down by software. So being able to play in that universe really makes a difference." <i>-- Drew Houston </i></h4>
	    		</div>
    		</div>
    	</div>
	</div>

<div class="courses adventure2" id="courses">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 grey-transparent">
					<div class="creator-courses">
					<!-- 	<%= image_tag "green-badge.png",:class=>'course_badge'%>	 -->		
						<h1 class="">Android Creator Courses</h1>
						<hr class="style-green">
					</div>				
			</div>			
			
			
			<div class="col-sm-9 col-sm-offset-3 grey-transparent">
					<div class="creator-courses">
							<div class="course-section grey">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-2">
										<%= image_tag "android-badge-black.png",:class=>'course_badge'%>	
									</div>
									<div class="col-xs-12 col-sm-9 col-md-10">
										<h2 class="lightgreen">Intro to Android App Development</h2>		
										<p>This course is ideal for those who want to make powerful applications for Android Devices.</p>	
									</div>									
								</div>							
								
							</div>					
					</div>				
			</div>				
			
			<div class="col-sm-9 col-sm-offset-3 grey-transparent">					
							<div class="course-section grey">
								<hr class="style-green">
 								<div class="row">
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "home-black.png",:class=>'course_icon'%>
									</div>
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "calendar-black.png",:class=>'course_icon'%>
									</div>
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "locations-black.png",:class=>'course_icon'%>										
									</div>											
								</div> 

								<div class="row course-details">						
									<div class="col-sm-4">
										<h3 class="lightgreen">Mississauga</h3>
										<h3>Studio.89</h3>
										<h4>1065 Canadian Place</h4>
									</div>
									<div class="col-sm-4">

												<h3 class="lightgreen">September 8 - November 26</h3>						
												<h3>Tuesdays &amp; Thursdays</h3>
												<h4>6:30 - 9 &nbsp;&amp;&nbsp; 1 - 4</h4>              
									</div>
									<div class="col-sm-4">									
							                 <iframe class="img-responsive map2" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1065%20Canadian%20Place%20%23104%2C%20Mississauga%2C%20ON%20L4W%200B8&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>
									</div>
								</div>

				
						</div>		
			</div>

		</div>						
	</div>
</div>


<section class="classroom-overlay mobile" id="classroom">
   <div class="" id="hero-overlay2">
   		<div class="container">
   			<div class="row">
			   <div class="col-sm-9 col-sm-offset-3">
			   		<div class="classroom-structure">
			   		<h1 class="section-header">How we teach</h1>
			   		<hr class="style-green">
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "educator.png" %>
		   						</div>
		   						<h2 class="lightgreen">7 : 1 Student to Educator Ratio</h2>
		   						<p>Sparked instructors and tutors are invested in your learning.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "flipped.png" %>
		   						</div>
		   						<h2 class="lightgreen">Flipped-Classroom</h2>
		   						<p>Sparked learners discover at home, and problem-solve in class.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
								<div class="overlay-icons">	        				
			        				<%= image_tag "screenhero.png" %>
								</div>

		   						<h2 class="lightgreen">HeroTime</h2>
		   						<p>Each student is allotted 5-hours of 1-on-1 tutoring on ScreenHero</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "udl.png" %>
		   						</div>
		   						<h2 class="lightgreen">Universal Design Approach</h2>
		   						<p>Courses are designed like modern-buildings: with a focus on accessibility and attention to individualized needs.</p>
		   					</div>				        			
		        		</div>  		        			        			       
		        	</div>		
			   </div>	
		   	</div>
		</div>

</section>

<div class="course-header header-green not-fixed" id="curriculum">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-3">
						<div class="accordion" id="accordion2">
								<h1 class="section-header">What you'll learn</h1>
				<!-- START MODULE1 -->
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 1: Build a Basic App</h3>
				</div>													        							
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">             <i class="icon-chevron-down"></i><h4>Layouts + Prototypes</h4>
						      </a>
						    
							    <div id="collapseOne" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <!-- <p>Anim pariatur cliche...</p> -->
							      </div>
							    </div>

						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">             <i class="icon-chevron-down"></i><h4>Java Variables</h4>
						      </a>

								<div id="collapseTwo" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <!-- <p>Anim pariatur cliche...</p> -->
							      </div>
							    </div>

						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">             <i class="icon-chevron-down"></i><h4>Developer Tools</h4>
						      </a>									      									      
							    <div id="collapseThree" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <!-- <p>Anim pariatur cliche...</p> -->
							      </div>
							    </div>
						  </div>
				<!-- END MODULE1 -->
				
				<!-- START MODULE2 -->
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 2: Refining the App</h3>
			    </div>									        						
			 	
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"><h4>Design: Buttons, Text, &amp; Colours</h4>
						      </a>

						    <div id="collapseFour" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"><h4>Working with Methods &amp; Data</h4>
						      </a>

						    <div id="collapseFive" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"><h4>Testing + Debugging</h4>
						      </a>

						    <div id="collapseSix" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>		    

						  </div>

				<!-- END MODULE2 -->

				<!-- START MODULE3 -->							
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 3: Publish an App + Engage your Users</h3>
						    </div>									        												
						    	
			

						    
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"><h4>Working with APIs</h4>
						      </a>

						    <div id="collapseSeven" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>
						  
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight"><h4>Networking our App</h4>
						      </a>

						    <div id="collapseEight" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>
						      <a class="accordion-toggle green" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine"><h4>Concurrency + JSON</h4>
						      </a>

						    <div id="collapseNine" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <!-- <p>Anim pariatur cliche...</p> -->
						      </div>
						    </div>

						  </div>

						</div>		
				<!-- END MODULE3 -->									
					<!--ACCORDION END  -->
					<div class="spacer">
						<a class="typeform-share link bttn bttn-2 bttn-2h grey" href="https://sparked.typeform.com/to/CMA9Nh" data-mode="2" target="_blank">Press for a full Curriculum PDF</a>
				    </div>						
					</div>					
				</div>			
		</div>
	</div>
<!-- 	<div class="program-divider white tuition" id="tuition">
    	<div class="container">
    		<div class="row">  
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="green">Tuition</h1>
	    			</div>
	    		</div>    	    			
    			<div class="col-sm-9 col-sm-offset-3">		
    					<div class="col-sm-4">				
							<h2 class="lightgreen">$200 / Module</h2> 	
		    				<p>You can choose to enroll by individual Module. Courses are divided into 3 Modules of increasing skill-level. Each module is 6 classes, or about 18 hours + HeroTime + Office Hours + Online Learning.</p> 
					<h4><span class="red"> *$100 Deposit due upon enrolment</span></h4>		    				
    					</div>       						
    					<div class="col-sm-4">				
							<h2 class="lightgreen"><s>$700</s><span class="red"> <br>$600</span> / Course <span class="red"><br>*Startup Price</span></h2>
		    				<p>Sparked is at the cutting edge of education. Your support helps grow a powerful idea that is emerging as a major disruption to all that we know about education.</p>			
    					</div>    
    					<div class="col-sm-4">
							<h2 class="lightgreen"><s>$600</s><span class="red"> $500<br> *Community Price</span></h2>  						
		    				<p>Those who attend <a href="/workshops">Free Sparked Events</a> at, and support the growth of, <a href="http://lab-b.ca">Lab-B</a>, <a href="http://studio89.org">Studio.89</a>, and <a href="http://make.icewire.ca/">IceWire Makerspace</a> are helping sustain the activities of vital community spaces.</p>				
    					</div>       											
    			</div>			
					<div class="row">
						<div class="col-sm-3 col-sm-offset-3">
		    				<h1 class="green">Scholarships</h1>
		    			</div>
		    		</div>   

				<div class="col-sm-9 col-sm-offset-3">		
					<div class="col-sm-6">
	    				<h3>Girls</h3>
	    				<p>Girls are offered an <strong><u>automatic scholarship</u></strong> of 10%. There are simply not enough young girls coding -- we hope to change that.</p>
	    			</div>		

					<div class="col-sm-6">
	    				<h3><span class="lightgreen">Creators</span> of Change</h3>
	    				<p>Those who are doing exceptional work in their communities, either through volunteering or activism, are offered a 10% <strong><u>scholarship</u></strong>.</p>
	    			</div>
	    		</div>   

    		</div>
    	</div>
	</div> -->

	<div class="program-divider grey tuition" id="tuition">
    	<div class="container">
    		<div class="row">  
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="grey spacer">Sparked gives you access to</h1>
	    			</div>
	    		</div>    	    			
    			<div class="col-sm-9 col-sm-offset-3">			
    				<div class="row">
    					<div class="col-sm-6">  	
	   						<h2 class="lightgreen">Community Hubs</h2>
	   						<p>Lab-B, Studio.89, and IceWire are amazing spaces for learning, networking, and working. As a Sparked student, you get special privileges at these spaces.</p>   
	   					</div>
    					<div class="col-sm-6">
	   						<h2 class="lightgreen">HeroTime</h2>
	   						<p>We use ScreenHero, an amazing screen-sharing application to tutor students remotely. Students book up to 5 hours of time with a Sparked tutor (let's call them "Heroes") to assist in building portfolio items.</p> 
    					</div>	
    				</div>
    				<div class="row">
    					<div class="col-sm-6">  	
	   						<h2 class="lightgreen">Freelancing Opportunities</h2>
	   						<p>A crucial component of learning to code is taking on projects for clients. Sparked assigns its top creators Web Development projects for community organizations.</p>   
	   					</div>
    					<div class="col-sm-6">
	   						<h2 class="lightgreen">Online Learning</h2>
	   						<p>Sparked students are given access to the best online training courses available for learning to code.</p> 
    					</div>	
    				</div>   
    				<div class="row">
    					<!-- <div class="col-sm-6">
	   						<h2 class="lightgreen">HeroTime</h2>
	   						<p>We use ScreenHero, an amazing screen-sharing application to tutor students remotely. ScreenHero allows a Sparked tutor (let's call them "Heroes") to assist in building portfolio items. At the beginning of the course, students book up to 5 hours of HeroTime.</p> 
    					</div>	 -->
    					<div class="col-sm-6">  	
	   						<h2 class="lightgreen">Office Hours</h2>
	   						<p>A Sparked Hero is available after classes at Lab-B, Studio89, and IceWire to help get you to the next level of creation.</p>   
	   					</div>    					
    				</div>       				 				
    			</div>    
    		</div>
    	</div>
	</div>

	<div class="program-divider green instructor-info" id="instructors">
    	<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="spacer">The people who teach</h1>
	    			</div>
	    		</div>    		
    		<div class="row">  
    			<div class="col-sm-2 col-sm-offset-3">
    				<%= image_tag 'abhi.png', :class=>"instructor-pic img-responsive" %>
    			</div>
    			<div class="col-sm-6 instructor-profile">
                	<h3>Abhishek Sai Moturu</h3>
                	<p>Abhishek Sai Moturu (aka Abhishek/Abhi) attends the University of Toronto where he studies Mathematics, Computer Science, Philosophy, and Physics. He loves languages and speaks English, Telugu, Hindi, French, Italian, and Urdu. He has previously lived in India &amp; California. There are 3 things he loves in life: Math, Computer Science, &amp; chicken. He has loved Math since the age of 6: he gains immense satisfaction from solving problems and finding problems to solve. Consequently, his tremendous passion for Computer Science -- a family friend of Math -- was fostered by Google. In 2011, he was one of 125 students to be part of Google’s CAPE (Computing and Programming Scholarship) program in Mountain View, California, and took part in many more afterwards. He develops Android/iOS apps and admires teaching. He adores chicken because... well, it’s self-explanatory.</p>
	    		</div>
    		</div>
    	</div>
	</div>

<section class="faq">
	<div class="program-divider" id="faq">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-8 col-sm-offset-3">
    				<div class="section-header">
    					<h1 class="white">Frequently Asked Questions</h1>
    				</div>
    				<hr class="style-grey">
                	<h3 class="lightgreen">Do I need a laptop?</h3>
                	<p class="white">Yes. What kind? Any laptop will do. It matters less about the laptop's type or quality than its organization, cleanliness (offloading unnecessary files), and familiarity. Sparked is currently working with sponsors who will help make Sparked even more accessible by providing laptops. For now, you provide the laptops.</p>
                	<h3 class="lightgreen">How old does my child need to be?</h3>
                	<p class="white">Sparked is currently only accepting students who are Grade 4, and up to Grade 8.</p>
                	<h3 class="lightgreen">Will I receive a certificate for completing modules or courses?</h3>
                	<p class="white">Nope. There are a lot of places where Grades and Certificates matter, but Sparked is not one of them. Here you are evaluated by the portfolio you've created, and the confidence you have taking on future projects.</p>
                	<h3 class="lightgreen">Does my child need to have programming experience or have taken any prerequisites for being a Sparked Creator?</h3>
                	<p class="white">Your child does not need to have a tech background or previous experience coding to be a Sparked Creator, however, you must have completed the Web Creator Prep Course that will be sent to you upon registration..</p>

                	<a class="typeform-share link bttn bttn-2 bttn-2h grey" href="https://sparked.typeform.com/to/mfBpCb" data-mode="2" target="_blank">Press For More FAQs</a>       
	    		</div>
    		</div>
    	</div>
	</div>
</section>

