<% provide(:title, "Web Creators") %>
<%= render 'layouts/navbar' %>

<header> 
	<div class="course-header header-blue">
		<h1>Web<br> Creators</h1>
<!-- 		<h2>For bold explorers taking their first steps in code.</h2> -->
        <div class="apply">

			<a class="typeform-share link bttn bttn-2 bttn-2e" href="https://sparked.typeform.com/to/CMA9Nh" data-mode="2" target="_blank">Request Info</a>
                  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            <a class="typeform-share link bttn bttn-2 bttn-2f" href="https://sparked.typeform.com/to/pmRNz9" data-mode="2" target="_blank">Apply</a>
            	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

        </div>
</header>


	<div class="overview">
		<div id="overview" class="sp-group">
			<div class="container">
				<div class="row">		
					<div class="col-sm-2 col-sm-offset-1 hidden-xs">
				        <div class="sp-categories" id="secondaryNavbar">
				            <ul class="nav nav-tabs nav-stacked secondNav" id="secondNav">
								<li class="active"><a class="" href="#overview">Overview</a></li>
								<li><a href="#courses">Courses</a></li>
								<li><a href="#classroom">Classroom</a></li>
								<li><a href="#curriculum">Curriculum</a></li>			
								<li><a href="#tuition">Tuition</a></li>			
								<li><a href="#instructors">Instructors</a></li>
								<li><a href="#faq">FAQs</a></li>								
								<li><a class="web-apply" href="https://david153.typeform.com/to/pmRNz9" data-mode="2" target="_blank"><h4>APPLY</h4></a>
								</li>
				            </ul>
				        </div>
				    </div>

					<div class="core-skills col-sm-8 col-xs-12">		
						<h1>Web Creators</h1>
						<div class="core-skill row">
							<div class="col-sm-2">
								<%= image_tag "lighthouse.png", class: "learnicons img-responsive	" %>
							</div>
							<div class="skill-description col-sm-8">
								<h3>Build beautiful &amp; powerful websites</h3>
								<hr>
								<!-- <p>Ancient alien golden disk sanskrit clearly otherworldly visitors clearly, kachina doll Mahabharata extraterrestrial origin ancient god, sky people sanskrit crystal skull ancient religions.</p> -->
							</div>							
							<!-- <div class="skill-description col-sm-8">
								<h3>Experiment</h3>
								<hr>
								<p>The interaction between people and computers is a continual process of trial and error: of learning by inquiring. Coding, by nature, promotes focus, patience, and curiosity.</p>
							</div> -->
						</div>
						<div class="core-skill row">
							<div class="col-sm-2">
								<%= image_tag "rocket.png", class: "learnicons" %>	
							</div>
							
							<div class="skill-description col-sm-8">
								<h3>Launch your idea</h3>
								<hr>								
								<!-- <p>Extraterrestrial origin golden disk flying vessels sightings portal, burmuta triangle sky people NASA, the answer is a resounding YES... Mahabharata. The vedas Vymaanika-Shaastra golden disk, Mayan.</p> -->
							</div>
							<!-- <div class="skill-description col-sm-8">
								<h3>Discover</h3>
								<hr>								
								<p>Coding promotes questioning and necessitates research. It transforms every-day browsing into inquiry. The terrain is fun, dynamic, and always-evolving.</p> 
							</div>-->
						</div>
						<div class="core-skill row">
							<div class="col-sm-2">
								<%= image_tag "map.png", class: "learnicons" %>
							</div>
							<div class="skill-description col-sm-8">
								<h3>Explore Programming</h3>
							<hr>								
								<!-- <p>I know it sounds crazy... Petroglyph, sky people legendary times mercury astronaut von Daniken space brothers, astronaut electromagnetic otherworldly visitors von Daniken UFO electromagnetic.</p> -->
							</div>							
								<!-- <div class="skill-description col-sm-8">
									<h3>Problem Solve</h3>
								<hr>								
									<p>The most exciting aspect of creating with code is learning to solve problems with others. Sparked makes collaborative problem-solving intrinsic to the learning process.</p>
								</div> -->
						</div>												
			        </div>
			    </div>
			</div>
		</div>
	</div>		

	<div class="program-divider">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">

                <h4 class="blue quote">"Coding is today's language of creativity. All our children deserve a chance to become creators instead of consumers of computer science."<br> -- <i>Maria Klawe</i></h4>
	    		</div>
    		</div>
    	</div>
	</div>

	<div class="img-divider web">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-6 col-sm-offset-3">
	    		</div>
    		</div>
    	</div>
	</div>	

<div class="courses adventure2" id="courses">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 grey-transparent">
					<div class="creator-courses">
					<!-- 	<%= image_tag "blue-badge.png",:class=>'course_badge'%>	 -->		
						<h1 class="">Web Creator Courses</h1>
						<hr class="style-blue">
					</div>				
			</div>
			
			<div class="col-sm-9 col-sm-offset-3 black-transparent">
					<div class="creator-courses">
							<div class="course-section">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-2">
										<%= image_tag "introweb-badge.png",:class=>'course_badge'%>	
									</div>
									<div class="col-xs-12 col-sm-9 col-md-10">
										<h2 class="lightblue">Intro to Web Development</h2>		
										<p>This course is ideal for those who want to make websites that look amazing on all devices.</p>	
									</div>									
								</div>							
								
							</div>					
					</div>				
			</div>				
			
			<div class="col-sm-9 col-sm-offset-3 black-transparent">					
							<div class="course-section">
								<hr class="style-blue">
 								<div class="row">
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "home.png",:class=>'course_icon'%>
									</div>
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "calendar.png",:class=>'course_icon'%>
									</div>
									<div class="col-sm-4 hidden-xs">
				        				<%= image_tag "locations.png",:class=>'course_icon'%>										
									</div>											
								</div> 

								<div class="row course-details">						
									<div class="col-sm-4">
										<h3 class="lightblue">Brampton</h3>
										<h3>Lab-B</h3>
										<h4>60 Queen St E</h4>
									</div>
									<div class="col-sm-4">

												<h3 class="lightblue">March 24 - June 12</h3>						
												<h3>Sundays &amp; Tuesdays</h3>
												<h4>6:30 - 9 &nbsp;&amp;&nbsp; 1 - 4</h4>              
									</div>
									<div class="col-sm-4">									
							                <iframe class="img-responsive map2" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=60%20Queen%20St%20E%20-%20Unit%20104&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>
									</div>
								</div>

								<hr class="style-three">

								<div class="row course-details">						
									<div class="col-sm-4">
										<h3 class="lightblue">Mississauga</h3>
										<h3>Studio.89</h3>
										<h4>1065 Canadian Place	</h4>
									</div>
									<div class="col-sm-4">		

										<h3 class="lightblue">May 6 - July 29</h3>		
										<h3>Sundays &amp; Tuesdays</h3>					
										<h4>6:30 - 9 &nbsp;&amp;&nbsp; 1 - 4</h4>		                
									</div>
									<div class="col-sm-4">									
							                <iframe class="img-responsive map2" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1560%20Bayview%20Avenue%2C%20Toronto%2C%20ON%2C%20Canada&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>		
									</div>
								</div>

								<hr class="style-three">

								<div class="row course-details">						
									<div class="col-sm-4">
										<h3 class="lightblue">Toronto</h3>
										<h3>Icewire Makerspace</h3>
										<h4>1560 Bayview Ave</h4>
									</div>
									<div class="col-sm-4">

										<h3 class="lightblue">July 6 - August 20</h3>	
										<h3>Sundays &amp; Tuesdays</h3>					
										<h4>6:30 - 9 &nbsp;&amp;&nbsp; 1 - 4</h4>					

									</div>
									<div class="col-sm-4">									
					                		<iframe class="img-responsive map2" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1065%20Canadian%20Place%20%23104%2C%20Mississauga%2C%20ON%20L4W%200B8&key=AIzaSyCX98GYJ8rikYcBgFfSzjNBv6BInIHgZxA"></iframe>	
									</div>
								</div>
 								<div class="row">
									<div class="col-sm-6">
		
									</div>
								</div> 

				
						</div>		
			</div>
				<!--END COURSE SECTION  -->
<!-- 			<div class="col-sm-9 col-sm-offset-3 grey-transparent">
					<div class="creator-courses">
							<div class="course-section">
								<h2>Intro to Web Development</h2>

								<p></p>								
								
							</div>					
					</div>				
			</div>		 -->


		</div>						
	</div>
</div>


<section class="classroom-overlay" id="classroom">
   <div class="" id="hero-overlay2">
   		<div class="container">
   			<div class="row">
			   <div class="col-sm-9 col-sm-offset-3">
			   		<div class="classroom-structure">
			   		<h1 class="section-header">How we teach</h1>
			   		<hr class="style-blue">
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "educator.png",:class=>''%>
		   						</div>
		   						<h2 class="lightblue">7 : 1 Student to Educator Ratio</h2>
		   						<p>Sparked instructors and tutors are invested in your learning.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "flipped.png",:class=>''%>
		   						</div>
		   						<h2 class="lightblue">Flipped-Classroom</h2>
		   						<p>Sparked learners discover at home, and problem-solve in class.</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
								<div class="overlay-icons">	        				
			        				<%= image_tag "screenhero.png",:class=>''%>
								</div>

		   						<h2 class="lightblue">HeroTime</h2>
		   						<p>Each student is allotted 5-hours of 1-on-1 tutoring on ScreenHero</p>
		   					</div>				        			
		        		</div>   
			   			<div class="row class-point">
							<div class="col-sm-12">
		        				<div class="overlay-icons">
		        					<%= image_tag "udl.png",:class=>''%>
		   						</div>
		   						<h2 class="lightblue">Universal Design Approach</h2>
		   						<p>Courses are designed like modern-buildings: with a focus on accessibility and attention to individualized needs.</p>
		   					</div>				        			
		        		</div>  		        			        			       
		        	</div>		
			   </div>	
		   	</div>
		</div>

</section>

<div class="learningskills blue" id="curriculum">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-3">
						<div class="accordion" id="accordion2">
								<h1 class="section-header">What you'll learn</h1>

				<!-- START MODULE1 -->
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 1: Build a Basic Website</h3>
							</div>									        								    	
						     <!--  <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">             <i class="icon-chevron-down"></i><h4>HTML</h4>
						      </a>
						    
							    <div id="collapseOne" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <p>Anim pariatur cliche...</p>
							      </div>
							    </div>

						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">             <i class="icon-chevron-down"></i><h4>HTML</h4>
						      </a>

								<div id="collapseTwo" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <p>Anim pariatur cliche...</p>
							      </div>
							    </div>

						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">             <i class="icon-chevron-down"></i><h4>HTML</h4>
						      </a>									      									      
							    <div id="collapseThree" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <p>Anim pariatur cliche...</p>
							      </div>
							    </div> -->
						  </div>
				<!-- END MODULE1 -->
				
				<!-- START MODULE2 -->
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 2: Build a Responsive Website</h3>
						    </div>									        
						      <!-- <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"><h4>HTML</h4>
						      </a>

						    <div id="collapseFour" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div>
						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"><h4>HTML</h4>
						      </a>

						    <div id="collapseFive" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div>
						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"><h4>HTML</h4>
						      </a>

						    <div id="collapseSix" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div>	 -->								    

						  </div>

				END MODULE2

				<!-- START MODULE3 -->							
						  <div class="accordion-group">
						    <div class="accordion-heading">
						        <h3>Module 3: Build an Optimized Website</h3>
						    </div>									        									
						      <!-- <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"><h4>HTML</h4>
						      </a>

						    <div id="collapseSeven" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div>
						  
						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight"><h4>HTML</h4>
						      </a>

						    <div id="collapseEight" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div>
						      <a class="accordion-toggle blue" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine"><h4>HTML</h4>
						      </a>

						    <div id="collapseNine" class="accordion-body collapse">
						      <div class="accordion-inner">
						        <p>Anim pariatur cliche...</p>
						      </div>
						    </div> -->

						  </div>

						</div>		
				<!-- END MODULE3 -->									
					<!--ACCORDION END  -->
					</div>
				</div>
		</div>
	</div>
	<div class="program-divider white tuition" id="tuition">
    	<div class="container">
    		<div class="row">  
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="blue">Tuition</h1>
	    			</div>
	    		</div>    	    			
    			<div class="col-sm-9 col-sm-offset-3">			   				
    					<div class="col-sm-4">				
							<h2><s>$1000</s><span class="red"> $900 <br>*Startup Price</span></h2>
		    				<p>Sparked is at the cutting edge of education. Your support will help grow a powerful idea that is disrupting education as we know it.</p>
		    				<h4><span class="red"> *$100 Deposit due upon enrolment</span></h4>
    					</div>
    					<div class="col-sm-4">
							<h2><s>$900</s><span class="red"> $800<br> *Community Price</span></h2>  						
		    				<p>Those who attend <a href="/workshops">Free Sparked Events</a> at, and support the growth of, <a href="http://lab-b.ca">Lab-B</a>, <a href="http://studio89.org">Studio.89</a>, and <a href="http://make.icewire.ca/">IceWire Makerspace</a> are helping sustain the activities of vital community spaces.</p>				
    					</div>    					
    					<div class="col-sm-4">				
							<h2>$350 / Module</h2> 	
		    				<p>You can choose to enroll by individual Module. Courses are divided into 3 Modules of increasing skill-level. Each module is 6 classes, or about 18 hours + HeroTime + Office Hours + Online Learning.</p> 
    					</div>
    			</div>			
					<div class="row">
						<div class="col-sm-3 col-sm-offset-3">
		    				<h1 class="blue">Scholarships</h1>
		    			</div>
		    		</div>   

				<div class="col-sm-9 col-sm-offset-3">		
					<div class="col-sm-6">
	    				<h3>Girls</h3>
	    				<p>Girls are offered an <strong><u>automatic scholarship</u></strong> of 10%. There are simply not enough young girls coding -- we hope to change that.</p>
	    			</div>		

					<div class="col-sm-6">
	    				<h3><span class="lightblue">Creators</span> of Change</h3>
	    				<p>Those Creators who are doing exceptional work in their communities, either through volunteering or activism, are offered a 10% <strong><u>scholarship</u></strong>.</p>
	    			</div>
	    		</div>   

    		</div>
    	</div>
	</div>
	<div class="program-divider grey tuition" id="tuition">
    	<div class="container">
    		<div class="row">  
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="grey spacer">Tuition gives you access to</h1>
	    			</div>
	    		</div>    	    			
    			<div class="col-sm-9 col-sm-offset-3">			
    				<div class="row">
    					<div class="col-sm-6">  	
	   						<h2 class="">Community Hubs</h2>
	   						<p>Lab-B, Studio.89, and IceWire are amazing spaces for learning, networking, and working. As a Sparked student, you get special privileges at these spaces.</p>   
	   					</div>
    					<div class="col-sm-6">
	   						<h2>HeroTime</h2>
	   						<p>We use ScreenHero, an amazing screen-sharing application to tutor students remotely. Students book up to 5 hours of time with a Sparked tutor (let's call them "Heroes") to assist in building portfolio items.</p> 
    					</div>	
    				</div>
    				<div class="row">
    					<div class="col-sm-6">  	
	   						<h2 class="">Freelancing Opportunities</h2>
	   						<p>A crucial component of learning to code is taking on projects for clients. Sparked assigns its top creators Web Development projects for community organizations.</p>   
	   					</div>
    					<div class="col-sm-6">
	   						<h2>Online Learning</h2>
	   						<p>Sparked students are given access to the best online training courses available for learning to code.</p> 
    					</div>	
    				</div>   
    				<div class="row">
    					<div class="col-sm-6">
	   						<h2>HeroTime</h2>
	   						<p>We use ScreenHero, an amazing screen-sharing application to tutor students remotely. ScreenHero allows a Sparked tutor (let's call them "Heroes") to assist in building portfolio items. At the beginning of the course, students book up to 5 hours of HeroTime.</p> 
    					</div>	
    					<div class="col-sm-6">  	
	   						<h2 class="">Office Hours</h2>
	   						<p>A Sparked Hero is available after classes at Lab-B, Studio89, and IceWire to help get you to the next level of creation.</p>   
	   					</div>    					
    				</div>       				 				
    			</div>    
    		</div>
    	</div>
	</div>

	<div class="program-divider blue instructor-info" id="instructors">
    	<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
	    				<h1 class="spacer">The people who teach</h1>
	    			</div>
	    		</div>    		
    		<div class="row profile">  
    			<div class="col-sm-2 col-sm-offset-3">
    				<%= image_tag 'david.png', :class=>"img-responsive" %>
    			</div>
    			<div class="col-sm-6 instructor-profile">
                	<h3>David Guida</h3>
                	<p>David grew up in a family of programmers. Maybe it was a desire to be different that led him to being a high school English teacher and not a programmer, or maybe it was because coding wasn't taught properly? Since learning-by-doing at <a href="www.brainstation.io" class="black"><strong>BrainStation</strong></a>, you'd be hard-pressed to find a more passionate coder and teacher of coding. David's goals are to craft applications for Ed Tech Startups and build an online-learning platform for Sparked.</p>
	    		</div>
    		</div>
    	</div>
	</div>

<section class="faq">
	<div class="program-divider white " id="faq">
    	<div class="container">
    		<div class="row">  
    			<div class="col-sm-8 col-sm-offset-3">
    				<h1>Frequently Asked Questions</h1>
    				<hr class="style-blue">
                	<h3>Do I need a laptop?</h3>
                	<p>Yes. What kind? Any laptop will do. It matters less about the laptop's type or quality than its organization, cleanliness (offloading unnecessary files), and familiarity. Sparked is currently working with sponsors who will help make Sparked even more accessible by providing laptops. For now, you provide the laptops.</p>
                	<h3>How old does my child need to be?</h3>
                	<p>Sparked is currently only accepting students who are Grade 7, and up to Grade 12.</p>
                	<h3>Will I receive a certificate for completing modules or courses?</h3>
                	<p>Nope. There are a lot of places where Grades and Certificates matter, but Sparked is not one of them. Here you are evaluated by the portfolio you've created, and the confidence you have taking on future projects.</p>
                	<h3>Does my child need to have programming experience or have taken any prerequisites for being a Sparked Creator?</h3>
                	<p>Your child does not need to have a tech background or previous experience coding to be a Sparked Creator, however, you must have completed the Web Creator Prep Course. It will be sent to you upon receipt of your $100 deposit.</p>
	    		</div>
    		</div>
    	</div>
	</div>
</section>

	