<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<h1>Angry Birds!</h1>
<%= image_tag "flock.png",:class=>'press_badge'%>

<h1>Stella</h1>
<%= image_tag "stella1.jpg" %>
<%= image_tag "stella2.jpg" %>
<%= image_tag "stella3.jpg" %>
<%= image_tag "stella4.jpg" %>
<%= image_tag "stella_hero.jpg" %>
 <title>Angry Birds: Stella</title>

</head>

<body>

<div id="profile">

  <h1>Angry Birds: Stella</h1>

<hr>

<section>
  <aside>

    <h3>Profile</h3>
    <p><b>Birthday:</b> <i>August 16, 2012</i><br>
    <b>Species:</b> <i>Galah</i><br>
    <b>Group Affiliation:</b> <i>The Flock in Patch Land, The Flock in a Galaxy Far Far Away</i><br>
    <b>Best Friends:</b> <i>Dahlia, Poppy, Willow and Luca</i><br>
    <b>Abilities:</b> <i>Trapping objects in Bubbles</i></p>	
  </aside>
</section>

<hr>

<section>
	
  <h3>Friendly and Fierce</h3>
  <p>Stella's the star of the show and the bird all the others look up to. She may look cute and cuddly, but don't be fooled -- if you push her too far, she'll soon reveal her blazing-hot temper! That's just how she rolls, sweet on the outside and fierce on the inside.</p>
</section>

<hr>

<section>
		
  <h3>Fearless Adventurer</h3>
  <p>She's a keen adventurer and is always on the look out for fun, which means she can get bored and grumpy if there's nothing to do. She's also extremely ambitious, and loves taking on tough challenges -- but this means she sometimes bites off more than she can chew...</p>	
</section>

<hr>

<section>
			
  <h3>New Adventures</h3>
  <p>	Stella has teamed up with Dahlia, Poppy, Willow and Luca. These fearless pals have a strong bond but even stronger personalities. You could even say they're best friends forever... most of the time. <br></br>Want to see Stella in action? Click <a href="https://www.youtube.com/watch?v=dMzYi1RrRfs">here!</a></p>
</section>

<hr>

<section>
  <h3>Stella Fact File</h3>
  <h4>Skills</h4>
  <ul>
    <li>She's an amazing parkour athlete </li>
    <li>Cheetah fast</li>
    <li>Awesomely acrobatic.</li>
  </ul>

  <h4>Special Moves</h4>
  <ul>
    <li>Pink Flash</li>
    <li>Ricochet Explosion</li>
  </ul>

  <h4>What makes her angry?</h4>
  <ul>
    <li>When someone underestimates her </li>
    <li>When people stand in her way!</li>
  </ul>
</section>	

<h1>Chuck</h1>
<%= image_tag "chuck1.jpg" %>
<%= image_tag "chuck2.jpg" %>
<%= image_tag "chuck3.jpg" %>
<%= image_tag "chuck4.jpg" %>
<%= image_tag "chuck5.jpg" %>
<%= image_tag "chuck_hero.jpg" %>
<br></br>
Angry Birds: Chuck
Angry Birds: Chuck
<br></br>
Profile<br>
Birthday: December 4, 2009	
Species: Canary
Strength: Normal
Group Affiliation: The Flock, The Flock in Space, The Flock in Patch Land, The Flock in a Galaxy Far Far Away
Best Friends: Red
Abilities: Speeding up when screen is tapped
<br></br>
Life in the Fast Lane<br>
Chuck likes to do everything at 100 miles-per-hour. Why do things slowly and properly when you can do them quickly and carelessly? So he does the dishes in half the time, but with only half the dishes unbroken! And sleep? That just gets in the way of doing stuff. Each night he falls asleep accidentally after tiring himself out too much. I'm not tired I'm not tired ZZZZZZZZZZ.
<br></br>
Quick as Lightning<br>
Ok, it's time to speed things up! Chuck's special power is a lightning-fast aerial assault that lets him dart toward the pigs at incredible speed! It's pretty awesome to see him in action as he soars through the skies and smashes through the piggy defenses. Watch out you little green creatures -- this incoming missile attack is super-accurate and crazy-fast!
<br></br>
Scatterbrain<br>
Chuck has 100s of random thoughts a minute, making it hard for him to focus on a single thing. One moment he's 100% committed to a group activity, and the next he's off on his own adventure completely forgetting what he just agreed to! He gets bored really easily, so every day it's a new hobby: surfing, painting, karate, origami and many more. Just pick one and stick with it, bird!
<br></br>
Peacock of the Flock<br>
This is the ultimate bird poser who loves spending time admiring his feathers in the mirror. He's such a show-off who likes to think the "duck face" internet meme was named after him! Chuck seems confident, but inside there's also a frightened little birdie who's scared of many things. Not exactly the image he wants of an extra tough and fearless action hero ready to take on the world! Want to see Chuck in action? Click here! https://www.youtube.com/watch?v=LZOwEfqfFKE
<br></br>
Chuck Fact File<br>
<br>
Likes<br>
Moving at lightning speed 
Karate (and 100s of other hobbies) 
Posing
<br></br>
Dislikes<br>
Slowing down 
Bomb being more popular
He's scared of Terence


<h1>Red</h1>
<%= image_tag "red1.jpg" %>
<%= image_tag "red2.jpg" %>
<%= image_tag "red3.jpg" %>
<%= image_tag "red4.jpg" %>
<%= image_tag "red5.jpg" %>
<%= image_tag "red_hero.jpg" %>
Angry Birds: Red
Angry Birds: Red
<br></br>
Profile<br>
Birthday: December 4, 2009	
Species: Cardinal
Known Aliases: Super Red Bird, Red Bird, Normal Bird, Angry Bird
Group Affiliation: The Flock, The Flock in Space
Best Friends: Chuck
Family: Red Bird, Terence, Tony
Abilities: Targeting directly at pigs.
<br></br>
Leader of the Pack<br>
Red's special skills are his leadership qualities, which at first seems feeble compared to the brute force of Terence or explosive power of Bomb. But wait! Someone has to organize this odd flock of birds! Hes also a bit highly strung and sees small things as a declaration of war -- like hearing the sound of the wind and thinking its the battle cry of the pig army. So thats kind of intense!
<br></br>
Calm down, bird!<br>
The whole flock tries to keep Red calm and relaxed by telling him to follow a strict program of herbal tea, soothing bath salts and deep-breathing exercises. But this only takes the edge off his anger, and it really doesn't take much to remind Red of those little pigs trying to get their dirty trotters on the eggs. Even the sight of something green can enrage him!
<br></br>
Wax on, wax off<br>
Red always needs to keep his possessions in the best possible condition. Like a proud dad, he spends hours every morning waxing the slingshot and making sure the band is perfectly elasticated. But if a dirty leaf lands on the sling then his eye starts twitching to show he's edging closer to boiling point. Now he has to re-apply several more coats of polish to make it perfect again!
<br></br>
Egg-Stra Sensitive<br>
Red also lets his guard down when he's alone with the eggs and can be seen softly stroking their shells and telling them bedtime stories. It's another rare moment of sensitivity and it reveals something of a softer side in him. But when the other flock members come a knocking, something clicks inside and instantly he's back to being his usual serious and alert self. Want to see Stella in action? Click here! https://www.youtube.com/watch?v=5MQlhD1yhFc
<br></br>
Red Fact File
<br></br>
Likes<br>
Protecting eggs
Planning strategies for battle 
Perfecting his poker face
<br></br>
Dislikes<br>
King Pig
Unexpected noises 
Anything that's green or has a snout
<br></br>

