<h1>Angry Birds!</h1>
<%= image_tag "flock.png",:class=>'press_badge'%>

<h1>Stella</h1>
<%= image_tag "stella1.jpg" %>
<%= image_tag "stella2.jpg" %>
<%= image_tag "stella3.jpg" %>
<%= image_tag "stella4.jpg" %>
<%= image_tag "stella_hero.jpg" %>

<h1>Chuck</h1>
<%= image_tag "chuck1.jpg" %>
<%= image_tag "chuck2.jpg" %>
<%= image_tag "chuck3.jpg" %>
<%= image_tag "chuck4.jpg" %>
<%= image_tag "chuck5.jpg" %>
<%= image_tag "chuck_hero.jpg" %>

<h1>Red</h1>
<%= image_tag "red1.jpg" %>
<%= image_tag "red2.jpg" %>
<%= image_tag "red3.jpg" %>
<%= image_tag "red4.jpg" %>
<%= image_tag "red5.jpg" %>
<%= image_tag "red_hero.jpg" %>
