<%= render 'layouts/navbar' %>

<section class="blog">
  <div class="container">

          <div class="row"> 
              <div class="section-header">
                <h1 class"center">Sparklers</h1>
              </div>
            <% @articles.each do|article| %>
              <div class="col-sm-6 col-sm-offset-3">   
                <div class="preview">
                  <p class="titles"><%= article.title %></p>

                  <p class="text"><%= truncate(article.text, :length => 400)  %></p>

                  <a class="blog-button"><%= link_to 'Read', article_path(article) %></a>
                  
                  <a class="blog-button"><%= link_to 'Edit', edit_article_path(article) %></a>
                  <a class="blog-button"><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></a>    
                </div>
                <hr>
              </div>
              <% end %>
            </div>
        <%= link_to 'New article', new_article_path %>

    </div>
  </div>
</section>
