

<section class="blog">
  <div class="container">

        <h1>Sparklers</h1>

       <div class="container">
          <div class="row"> 
            <% @articles.each do|article| %>
              <div class="col-sm-4">   
                <div class="preview">
                  <p class="titles"><%= article.title %></p>

                  <p class="text"><%= truncate(article.text, :length => 400)  %></p>

                  <a class="blog-button"><%= link_to 'Read', article_path(article) %></a>
                  
                  <a class="blog-button"><%= link_to 'Edit', edit_article_path(article) %></a>
                  <a class="blog-button"><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></a>    
                </div>
              </div>
              <% end %>
            </div>
          </div>
        <%= link_to 'New article', new_article_path %>

    </div>
  </div>
</section>
