<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="blog">
        <h1>Listing articles</h1>

        <%= link_to 'New article', new_blog_path %> 
        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
          </tr>
         
          <% @blog.each do |blog| %>
            <tr>
              <td><%= blog.title %></td>
              <td><%= blog.text %></td>
              <td><%= link_to 'Show', blog_path(blog) %></td>
              <td><%= link_to 'Edit', edit_blog_path(blog) %></td>      
              <td><%= link_to 'Destroy', blog_path(blog),
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>      
      </div>
    </div>
  </div>
</div>

