<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      	<div class="blog">
			<p>
			  <strong>Title:</strong>
			  <%= @blog.title %>
			</p>
			 
			<p>
			  <strong>Text:</strong>
			  <%= @blog.text %>
			</p>
			 
			<h2>Comments</h2>
			<%= render @blog.comments %>
			 
			<h2>Add a comment:</h2>
			<%= render "comments/form" %>
			 
			<%= link_to 'Edit blog', edit_blog_path(@blog) %> |
			<%= link_to 'Back to blog', blog_path %>	
		</div>
    </div>
  </div>
</div>
