<!-- Footer -->
<footer class="global-footer">
  <section id="email">
<!--   <div class="container email_intake"> -->
<!--     <h2>For more information, contact Sparked here</h2> -->
      <div class="row">
        <div class="apply">
         <!-- Button trigger modal --> 
<!--             <a data-toggle="modal" data-target="#signup" class="bttn bttn-2 bttn-2a link" id="apply">CONTACT</a> -->
                <!-- Modal -->
                <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          </div>
                          <div class="modal-body">
                                 <h4 class="modal-subtext">We look forward to chatting with you about education.</h4>
                <!-- MODAL BODY -->

                         <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://sparkedgta.wufoo.com/forms/z187ilal1gv96xj/#public">
                          
                          <ul id="contactForm">
                            <li id="foli2" class="notranslate form-group">
                              <label class="col-sm-6" id="title2" for="Field2">First Name</label>
                                <div>
                                  <input class="form-inline" id="Field2" name="Field2" type="text" class="" value="" maxlength="30" tabindex="1" onkeyup="validateRange(2, 'character');"/>
                                </div>
                            </li>
                            <li id="foli1" class="notranslate form-group">
                              <label class="col-sm-6" id="title1" for="Field1">Last Name</label>
                                <div>
                                  <input class="form-inline" id="Field1" name="Field1" type="text" class="" value="" maxlength="30" tabindex="2" onkeyup="validateRange(1, 'character');"/>
                                </div>
                            </li>
                            <li id="foli4" class="form-group notranslate">
                              <label class="col-sm-6" id="title4" for="Field4">Email</label>
                                <div>
                                  <input id="Field4" name="Field4" type="text" class="field text" value="" maxlength="255" tabindex="3" onkeyup=""/>
                                </div>
                            </li> 


                                <input id="saveForm" name="saveForm" class="bttn bttn-2 bttn-2h link" type="submit" value="Submit"/>

                            <li class="hide">
                              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                <input type="hidden" id="idstamp" name="idstamp" value="nhaq/XiHDQua3b5J4GWsNksZJ9pBS0vYurzpcV13tb4=" />
                            </li>
                          </ul>
                          </form>
                      <!--MODAL BODY -->
                         </div>
                         <div class="modal-footer">
                         </div>
                      </div><!-- /.modal-content -->
                   </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </div>
      </div>    
<!--   </div> -->
</section>
  
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row" id="footernav">
      <div class="col-sm-4 col-sm-offset-1">
        <h5 class="subnavtitle">WEB CREATORS</h5>
        <ul class="sitemap">
          <li>
            <%= link_to 'Intro to Web Development', '/junior' %>
          </li> 
        </ul>
<!--         <h5 class="subnavtitle">INTERMEDIATE CREATORS</h5>
        <ul class="sitemap">
          <li>
             <%= link_to 'UX-UI & JavaScript', '/intermediate' %>
          </li>   
        </ul> -->
        <h5 class="subnavtitle">MOBILE CREATORS</h5>
        <ul class="sitemap">
          <li>
             <%= link_to 'Android App Development', '/senior' %>
          </li>
          <li>
<!--              <%= link_to 'Programming with Python', '/senior' %>
 -->          </li>     
        </ul>  
      </div>

      <div class="col-sm-3">
        <div class="container">
        <h5 class="subnavtitle">DISCOVER</h5>
        <ul class="sitemap">
           <li>
             <%= link_to 'Home', root_path %>
          </li>         
          <!-- <li>
            <%= link_to 'FAQ', '/about#faq' %>
          </li> -->  
          <li>
            <%= link_to 'About Sparked', '/about' %>
          </li> 
          
          <!-- <li>
            <%= link_to 'Blog', '/blog' %>
          </li>  -->
          <li>
             <a href="david@sparkeducation.ca">Contact</a>
          </li>
             
        </ul>
         </div>
      </div>

      <div class="col-sm-1 col-sm-offset-1">
          <h5 class="subnavtitle">CONNECT</h5>
              <ul class="social">
                <li><a href="https://twitter.com/SparkedTechEd" class="twitter"><%= image_tag "twitter.png",:class=>''%></a></li>
                <li><a href="https://www.facebook.com/pages/Sparked-Technology-Education/842075489144646" class="facebook"><%= image_tag "facebook.png",:class=>''%></a></li>
                <li><a href="https://twitter.com/SparkedTechEd" class="twitter"><%= image_tag "insta.png",:class=>''%></a></li>              
              </ul>   
      </div>      
     </div> 
    </div>
  </div>
  
    <div class="row copyright">  
      <div class="col-sm-10 col-sm-offset-1">
              <hr>
        <div class="col-sm-3">
            <div class="footerlogo">    
              <a href="/">
                <%= image_tag "spark-nav-logo.png", height:'160', width: '60' %> 
              </a>            
            </div>
        </div>
        <div class="col-sm-4">
            <h5>
             &copy; 2015 Sparked Tech Ed Ltd.          
        </div>   
        <div class="col-sm-5">
            <h5>
             Made with &hearts; in Mississauga, Ontario
            </h5>    
        </div>                  
      </div>
    </div>
    
</footer>