<!-- Footer -->
<footer class="global-footer">
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row" id="footernav">
      <div class="col-sm-4">
        <h5 class="subnavtitle">WEB CREATORS</h5>
        <ul class="sitemap">
          <li>
            <%= link_to 'Intro to Web Development', '/web-creators' %>
          </li> 
        </ul>
<!--         <h5 class="subnavtitle">INTERMEDIATE CREATORS</h5>
        <ul class="sitemap">
          <li>
             <%= link_to 'UX-UI & JavaScript', '/intermediate' %>
          </li>   
        </ul> -->
        <h5 class="subnavtitle">MOBILE CREATORS</h5>
        <ul class="sitemap">
          <li>
             <%= link_to 'Android App Development', '/mobile-creators' %>
          </li>
          <li>
<!--              <%= link_to 'Programming with Python', '/senior' %>
 -->          </li>     
        </ul>  
      </div>

      <div class="col-sm-4">
        <div class="container">
        <h5 class="subnavtitle">DISCOVER</h5>
        <ul class="sitemap">
           <li>
             <%= link_to 'Home', root_path %>
          </li>         
          <!-- <li>
            <%= link_to 'FAQ', '/about#faq' %>
          </li> -->  
          <li>
            <%= link_to 'About Sparked', '/about' %>
          </li> 
          
          <!-- <li>
            <%= link_to 'Blog', '/blog' %>
          </li>  -->
          <li>
             <%= mail_to "david@sparkeducation.ca", "Contact" %>
          </li>
          <li><a href="https://sparked.typeform.com/to/mfBpCb">Survey</a></li>
             
        </ul>
         </div>
      </div>

      <div class="col-sm-4">
          <h5 class="subnavtitle">CONNECT</h5>
              <ul class="social">                
          <li><a href="https://twitter.com/SparkedGTA" class="twitter"><%= image_tag "twitter.png",:class=>''%></a></li>
          <li><a href="http://www.meetup.com/Code-Creates-Change" class=""><%= image_tag "meetup.png",:class=>''%></a></li>                
          <li><a href="https://instagram.com/sparkedgta/" class="twitter"><%= image_tag "insta.png",:class=>''%></a></li>              
          <li><a href="https://www.facebook.com/pages/Sparked-Technology-Education/842075489144646" class="facebook"><%= image_tag "facebook.png",:class=>''%></a></li>          
              </ul>              
      </div>      
     </div> 
    </div>
  </div>
                  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>    
</footer>