
<!DOCTYPE html>

<html>

<head>
	<title><%= full_title(yield(:title)) %></title> 

    <%= render "layouts/head" %>  

	<%= render 'layouts/shim' %>

		<%= stylesheet_link_tag 'application', media: 'all' %>   
		<%= javascript_include_tag "application" %>	 

</head>

	<body data-spy="scroll" data-target="#secondaryNavbar, #ha-header">
	  
	  <%= render "layouts/navbar" %>

			<%= yield %>

		<%= render "layouts/footer" %>


	</body>

</html>
