
<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>  
    <%= render "layouts/head" %>
    <%= favicon_link_tag 'favicon.png' %>	    
	<%= render 'layouts/shim' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>    
</head>
<body data-spy="scroll" data-target="#secondaryNavbar">
  <%= render "layouts/navbar" %>
<%= yield %>
	<%= render "layouts/footer" %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


</body>
</html>
